@CHARSET "UTF-8";


footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}


/* # é id */

#titulosH1{
color: white;  
border-bottom: outset; 
border-bottom-color: white;

}
#nomeTelas{
	 width: 99% !important;
	 padding-left: 1% !important; 
	 background-color: rgba(0, 0, 0, 0.35) !important;
}


/* '.' é classe */

.rotulo{
	width: 180px;	
}

.campo{
	width: 40%;
	
}

.rotuloP{
	width: 150px;	
}

.campoP{
	width: 80%;
	
}


.produto-tabela input {
	width: 100%;
	
}


